#C:\Users\hp\Documents\GITHub02\pdsnd_github\chicago.csv#

#C:\Users\hp\Documents\GITHub02\pdsnd_github\new_york_city.csv#

#C:\Users\hp\Documents\GITHub02\pdsnd_github\washington.csv#

# Ignore csv files
*.csv
